*, *::before, *::after {
box-sizing: border-box; 
font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif
}

body{
  background-color:#259a85
 }

/* Style the header */
header {
    background-color: #05013d;
    color: #ffffff;
  }
  
  #alltimeScores a {
    color: #e10909;
    text-decoration: none;
  }
  
  /* Style the welcome section */
  #main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
    width: 100vw;
   }

  
  h1 {
    font-size: 2rem;
    color: black;
    margin-bottom: 5rem;
    

  }
  
  /*.button {
    display: inline-block;
    padding: 1rem 2rem;
    background-color:#05013d;
    color: #fff;
    font-size: 1rem;
    cursor: pointer;
    margin-top: 1rem;
  } */
  
  /* Style the quiz section */
  #quiz {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #questions {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  #choices {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    margin-bottom: 1rem;
  }
  

  
  /* Style the results section */
 /* #results {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100vh;
  }
  
  #outcome {
    font-size: 1.2rem;
    margin-bottom: 1rem;
  }
  
  input {
    
    padding: 1rem;
    margin-bottom: 2rem;
  }*/

  .hidden{
    display:none;
  }
 
  .show{
    display: block;
  }
  
  
  